.layout {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border-radius: 8px;
  background: #ffffff;
}

.row,
.evenRows {
  cursor: pointer;
}

.evenRows {
  background: #f7f9fc;
}

.listContainer {
  height: 600px;
}

.autoHeightContainer {
  height: auto;
}

.loaderBox,
.fullHeightLoader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 0;
}

.fullHeightLoader {
  height: 80%;
}

@media (max-width: 768px) {
  .listContainer {
    height: auto;
  }
}
