.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerText {
    font-size: 22px;
    font-weight: 600;
}

.headerButton {
    width: 180px;
    height: 36px;
    padding: 6px;
    background: #01579B;
}

.headerButtonLabel {
    font-size: 14px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}