.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerText {
    font-size: 22;
    font-weight: 600;
}

.headerButton {
    width: 180;
    height: 36;
    padding: 6;
    background: #01579B;
}

.headerButtonLabel {
    font-size: 14;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}